<form {{action 'createOrder' model on='submit'}}>
  {{form-input model=model name='account' type='text'}}
  {{form-input model=model name='direction' type='text'}}
  {{form-input model=model name='orderType' type='text'}}
  {{form-input model=model name='price' type='number'}}
  {{form-input model=model name='quantity' type='number'}}
  {{form-input model=model name='symbol' type='text'}}
  {{form-input model=model name='venue' type='text'}}

  <button class="btn btn-primary" type="submit">Create</button>
</form>

{{#if responseMessage}}
  <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}
